body {
	font-family: Bradley Hand ITC, Century Gothic, Verdana, Arial, Helvetica, sans-serif;
	 
	margin-top: 0px;
	font-size: 25px;
	color:#ffffff;
	text-decoration: none;
	line-height: 18px;
	}
	
div {border: solid 0px ;}	
img{ border: 0px;}
	
#div00{  width:990px;  margin: 50px auto; background-image:url(tlo.jpg) }
#div01{  width:970px; height:200px ;  margin: 0px auto ;}
#div02{  width:970px; height: 350px; margin: 0px auto; position:relative; }
#div03{  width:165px; height: 460px; float: left; margin-top: 0px; }
#div04{  width:805px;  float: right; margin-top: 0px;}
#div05{  width:165px;  float: left; margin-top: 0px; background-color:#666}
#div06{  width:800px; min-height: 450px;   margin: 0px auto; float: right; background-color:#000}
#div06a{ width:790px; min-height: 450px; background-color:#000 ; float: right;}
#div07{  float: right; position:relative;  margin-top: ; text-align:left; }
#div071{float: right; position:relative; }
#div07a{  margin: 0px auto;}
	 
.pozioma01 { width: 100%; height:1px; background-image:url(fotografia/k.gif)}
.pozioma02 { height:1px; background-image:url(fotografia/k.gif)}

input:hover {
border: 1px solid black;
background: #FFFAD9 top left no-repeat;}

h1 {font-size: 13px; font-weight: 600 ;  padding-top:0px;   
margin-top:0px; color: #b50101;   text-align:left;}

.h1 {font-size: 11px; font-weight: 300 ;  padding-top:0px;   
margin-top:0px; color: #3E414A;   text-align:left;}

.h1naglowek {font-size: 15px; font-weight: 600 ; padding-top:0px;   
margin-top:0px; color: #d20100;    text-align: center;}

.h1m {font-size: 12px; font-weight: 600 ;  
margin-top:0px; color: #d20100;  text-align:left;}

h2 {font-size: 12px; font-weight: 600 ;  
margin-top:0px; color: #38599c;  }

.tekst3 {
	font-size: 12px;
	font-weight: 600;
	color: #38599c;
	text-decoration: none;}

.pbiale { color:#FFFFFF; margin: 7px;}
.p2  { margin: 0px; line-height: 25px; }
.p3  { margin: 0px; line-height: 14px; }
.p4  { margin-top: 30px; line-height: 15px; }
	
	
.tekst2 {
	font-size: 11px;
	font-weight: 600;
	color: #3c517c;
	text-decoration: none;}
.tekst2szary {
	font-size: 11px;
	font-weight: 600;
	color: #2D3140;
	text-decoration: none;}
	
.tekstpod {
	font-size: 11px;
	font-weight: 600;
	color: #666666;
	text-decoration: underline;}
	
	
.tekstszary {
	font-size: 11px;
	font-weight: 600;
	color: #666666;
	text-decoration: none;}
	
	.tekstn {
	font-size: 11px;
	font-weight: 600;
	color: #3B3B3B;
	text-decoration: none;}
	
	.wiecej {
	float:right;	 
	font-size: 10px;
	font-weight: 600;
	color: #666666;
	text-decoration: none;}	
	
			   
.tekstNag2 {
	font-size: 13px;
	font-weight: 600 ;
	color: #b50101;
	text-decoration: none; }
	
	
a:link { color:#ffffff;
			text-decoration: none; 
			}
			 
a:visited { color: #ffffff; 
				text-decoration: none;}

a:hover { color: #ffffff; 
			 text-decoration: underline;
			 
			 }
			
			
.tab0 { background-color: #b0cdf8; 
               color: #000000;
			   font-family: arial,helvetica; 
			   font-size: 11px;
			  text-align: left;
			  padding: 4px;
}

.tab1 { background-color: #ccdcf4; 
               color: #000000;
			   font-family: arial,helvetica; 
			   font-size: 11px;
			  text-align: left;
			  padding: 4px;
			 
}


.tab2 { background-color: #e3eefd; 
               color: #000000;
			   font-family: arial,helvetica; 
			   font-size: 11px;
			  text-align: left;
			  padding: 4px;
			  
			  
}		

.tabsz { background-color: #f2f6fa; 
             color: #171d3d;
			   font-family: arial,helvetica; 
			   font-size: 11px;
			  text-align: left;
			  padding: 4px;
}		
	   
			 
.tabela1 {
	color: #2E323A;
	background: url('prawy01.gif') left top; 
	vertical-align: middle;
	}
	
	.tabela2 {
	color: #2E323A;
	background: url('prawy02.gif') left top; 
	vertical-align: middle;
	}
	
	
